@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList2";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{ string color = "";}
@{ string durum = "";}
@{ int puan = 1;}
<br />
<h2>Blog Hızlı Bakış Listesi</h2>
<br />
<div class="card">

    <div class="card-body p-0">
        <table class="table table-condensed projects">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%">#</th>
                    <th scope="col" style="width: 15%"> Blog Başlığı</th>
                    <th scope="col" style="width: 10%"> Yazar</th>
                    <th scope="col" style="width: 20%">Beğeni Oranı</th>
                    <th scope="col" style="width: 5%" class="text-center"> Durum </th>
                    <th scope="col" style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    puan = item.BlogRating * 10;

                    if (puan >= 75)
                    {
                        color = "badge bg-success";
                        durum = "Popüler";
                    }
                    if (puan >= 60 && puan <= 74)
                    {
                        color = "badge bg-info";
                        durum = "Başarılı";
                    }
                    if (puan <= 59)
                    {
                        color = "badge bg-danger";
                        durum = "Vasat";
                    }

                    <tr>
                        <th scope="row">@item.BlogID.</th>
                        <td>  <a>  @item.BlogTitle  </a> <br />  <small>     </small>  </td>
                        <td>
                            <ul class="list-inline">

                                <li class="list-inline-item"><img alt="Avatar" class="table-avatar" src="@item.Author.AuthorImage">  @item.Author.AuthorName</li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@puan" aria-volumemin="0" aria-volumemax="10" style="width: @puan%"></div>
                            </div>
                            <small> Beğeni Oranı: @puan%   </small>
                        </td>
                        <td class="project-state"> <span class="@color">@durum</span></td>
                        <td class="project-actions text-right">
                            <a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-outline-primary btn-sm"><i class="fas fa-folder"></i> Görüntüle</a>
                            <a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-outline-success btn-sm"><i class="fas fa-pencil-alt"></i> Güncelle</a>
                            <a href="/Blog/GetCommentByBlog/@item.BlogID" class="btn btn-outline-dark btn-sm"><i class="fas fa-comment"></i> Yorumlar</a>
                            <a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


